<app-nav>Nav....</app-nav>
<div class="login-page">
    <h2>Login</h2>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="user.email" required placeholder="ex@gmail.com">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput required [(ngModel)]="user.password" type="password">
    </mat-form-field>

    <p>{{error}}</p>

    <button mat-raised-button color="primary" (click)="login()">Login</button>
    <button [routerLink]="['/register']" mat-raised-button>Register</button>

</div>