<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>MindWave ToDo</span>
        <span class="spacer"></span>
        <button mat-button *ngIf="currentUser" (click)="logout()">Logout</button>
        
    </mat-toolbar-row>
</mat-toolbar>