<app-nav>Nav....</app-nav>
<div class="example-container">
    <h2>To do</h2>
    <mat-accordion>

        <div cdkDropList #todoList="cdkDropList"
             [cdkDropListData]="todo"
             [cdkDropListConnectedTo]="[doneList]"
             class="example-list"
             cdkDropListSortingDisabled
             (cdkDropListDropped)="drop($event)">

            <mat-expansion-panel *ngFor="let t of todo" cdkDrag>

                <mat-expansion-panel-header>
                    <ng-template [ngIf]="title?.id != t.id" [ngIfElse]="edit">
                        <mat-panel-title>                            
                            {{t.name}}
                        </mat-panel-title>
                    </ng-template>
                </mat-expansion-panel-header>

                <mat-selection-list *ngFor="let ta of t.tasks" #shoes>
                    <div class="example-list">
                        <ng-template [ngIf]="task?.id != ta.id" [ngIfElse]="editTask">
                            <mat-list-option [selected]="ta.done" (click)="toggleTaskDone(ta)">
                                {{ta.name}}
                            </mat-list-option>
                        </ng-template>
                        <button mat-icon-button color="accent" (click)="editTaskk(ta)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteTask(ta)">
                            <mat-icon>clear</mat-icon>
                        </button>
                        
                    </div>
                </mat-selection-list>

                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Task</mat-label>
                    <input matInput [(ngModel)]="task.name" >                    
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="saveTask(t)">Add</button>
                <button mat-icon-button color="accent" (click)="editTitle(t)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteTitle(t)">
                    <mat-icon>clear</mat-icon>
                </button>

            </mat-expansion-panel>
        </div>
        <mat-form-field appearance="outline" class="example-full-width">            
            <input matInput [(ngModel)]="title.name">
        </mat-form-field>
        <button class="example-full-width" mat-icon-button color="primary" (click)="saveTitle()" >
            <mat-icon>add</mat-icon>
        </button>
    </mat-accordion>
</div>

<div class="example-container">
    <h2>Done</h2>

    <mat-accordion>

        <div cdkDropList #doneList="cdkDropList"
             [cdkDropListData]="done"
             [cdkDropListConnectedTo]="[todoList]"
             class="example-list"
             cdkDropListSortingDisabled
             (cdkDropListDropped)="drop($event)">

            <mat-expansion-panel *ngFor="let title of done"
                                 cdkDrag >

                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{title.name}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-list >
                    <div *ngFor="let task of title.tasks">
                        <div class="example-list">
                            <mat-list-item>
                                {{task.name}}
                            </mat-list-item>
                        </div>
                    </div>
                    <button class="example-full-width" (click)="deleteTitle(title)" mat-icon-button color="warn">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-list>

            </mat-expansion-panel>
        </div>
        
    </mat-accordion>
</div>

<ng-template #edit>
    <mat-panel-title>
        <mat-form-field appearance="legacy" class="example-full-width">           
            <input matInput [(ngModel)]="title.name" />
        </mat-form-field>
    </mat-panel-title>
    <button mat-icon-button color="primary" (click)="saveTitle()">
        <mat-icon>check</mat-icon>
    </button>
</ng-template>

<ng-template #editTask>
    <mat-panel-title>
        <mat-form-field appearance="outline" class="example-full-width">
            <input matInput [(ngModel)]="task.name" />
        </mat-form-field>
    </mat-panel-title>
    <button mat-icon-button color="primary" (click)="saveTask(t)">
        <mat-icon>check</mat-icon>
    </button>
</ng-template>
