<app-nav>Nav....</app-nav>
<div class="login-page">
    <h2>Register</h2>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput required [(ngModel)]="user.email" placeholder="ex@gmail.com">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput required [(ngModel)]="user.name" placeholder="Например Андрей">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput required [(ngModel)]="user.password" type="password">
    </mat-form-field>

    <p>{{error}}</p>

    <button mat-raised-button color="primary" (click)="register()">Register</button>
    <button [routerLink]="['/login']" mat-raised-button>Cancel</button>

</div>
